body {
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1C1A1B;
  font-weight: normal;
}

.container {
  width: 100%;
  text-align: center;
}

header {
  background-color: #CC0066;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.roze-balk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.roze-balk img {
  width: 50px;
  margin-right: 15px;
  position: absolute;
  left: 20px;
}

.roze-balk p, .bedrag {
  font-size: 20px;
  color: white;
  margin: 1px;
}

.roze-balk p:first-of-type {
  font-family: 'Lexend Deca Variable', sans-serif;;
}

.bedrag {
  font-size: 25px;
  margin-top: 10px;
}

.kies-bank {
  text-align: center;
  margin-top: 90px;
  color: white;
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
}

.bank-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.bank-container:last-of-type {
  margin-bottom: 70px;
}

.bank-knop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1C1A1B;
  border: 1px solid #777676;
  color: white;
  font-size: 18px;
  padding: 2px 3px;
  border-radius: 12px;
  text-decoration: none;
  min-width: 300px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.bank-knop img {
  max-width: 50px;
  margin-right: 12px;
  border-radius: 8px;
}

.bank-knop:hover {
  background-color: #1C1A1B;
  border-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.van-lanschot-logo {
  width: 25px;
  margin-left: 10px;
}

.footer-links {
  position: relative;
  margin-top: 20px;
}

.footer-links a {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: #CC0066;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
}

.footer-links a:hover {
  border-bottom: 2px solid #CC0066;
}

.terug {
  left: 10px;
}

.inloggen {
  right: 10px;
}

.footer {
  background-color: #272526;
  color: white;
  text-align: left;
  padding: 50px 0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-text {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.footer-text span {
  font-size: 20px;
  position: relative;
  padding-bottom: 5px;
}

.footer-text span:hover {
  color: #CC0066;
}

.footer-text span:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #CC0066;
}

.ideal-word {
  font-size: 15px;
  margin-top: 15px;
  margin-left: 20px;
  position: relative;
  padding-bottom: 5px;
}

.ideal-word:hover {
  color: #CC0066;
}

.ideal-word:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #CC0066;
}

@media (max-width: 768px) {
  header {
    width: 100vw;
  }

  .roze-balk {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    text-align: right;
    margin-right: 10px;
    background-color: #CD0067;
  }

  .roze-balk p {
    margin: 0;
  }

  .bedrag {
    font-size: 25px;
    color: white;
    margin-top: 10px;
  }

  .kies-bank {
    font-size: 26px;
  }

  body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .bank-container {
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
  }

  .bank-knop {
    width: 90%;
    margin-left: 4%;
    padding: 2px 3px;
    font-size: 14px;
    border-radius: 8px;
    text-align: right;
  }

  .bank-knop img {
    max-width: 35px;
    margin-right: 12px;
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-left: 0;
    width: 100%;
  }

  .footer-text span {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
